/* --------- SITE STYLES ---------- */

$backgroundColor : #fafafa;
$defaultTextColor: #4a4a4a;

/* --------- COLOR SCHEME --------- */

$lightBlue  : #294661;
$darkBlue   : #192A3A;
$lightGreen : #3BAB7E;
$darkGreen  : #2D8260;

/* ----- OPAQUE COLOR SCHEME ------ */

$clarityBlueRGBAOpacity1 : rgba(41,70,97,0.1);
$clarityBlueRGBAOpacity2 : rgba(41,70,97,0.2);

/* ---------- GREY SCALE ---------- */

$offWhite  : #f9f9f9;
$lightGrey : #e3e3e3;
$bgGrey    : #eeeeee;
$platinum  : #cccccc;
$silver    : #888888;
$grey      : #4a4a4a;

/* ----- BOX SHADOW COLOR SCHEME ------ */

$boxShadow : 0px 0px 0px 1px rgba(0,0,0,0.08),
			 0px 2px 4px 0px rgba(0,0,0,0.25);


/* ------ OPAQUE GREY SCALE ------- */

$opaqueBlack    : rgba( 0, 0, 0, 0.5 );
$opaqueGrey     : rgba( 74, 74, 74, 0.5 );
$opaqueOffWhite : rgba( 230, 230, 230, 0.5 );


/* ------ GOOGLE COLOR PALETTE ------- */


$googleRed:#eb4335;
$googleBlue: #4184f4;
$googleYellow: #fbbc03;
$googleGreen: #34a852;
$googleGray: #717171;
